extends ../layout

block content
  .angular(ng-controller="RecipeCtrl")
    h1= recipe.name
    //- p= recipe._id
    br
    form.form-inline(role="form")
      div.form-group
        label.sr-only(for="ingredient") Ingredient Name
        input.form-control(type="text",size="40",placeholder="Add Ingredient...",type-ahead)
    br
    table.table.table-bordered.table-striped
      tr
        th.col-sm-1 Qty
        th.col-sm-1 Measure
        th.col-sm-4 Ingredient
        th.col-sm-1.text-center Source
        th.col-sm-1.text-center Weight (g)
        th.col-sm-1.text-center Cal
        th.col-sm-1 &nbsp;
        //- th Qty
        //- th Measure
        //- th Ingredient
        //- th.text-center Source
        //- th.text-center Weight (g)
        //- th.text-center Cal
        //- th &nbsp;

      //- tr.success
      //-   td 
      //-     input(type="text",value="1",size="2")
      //-   td 
      //-     select
      //-       option cup
      //-       option tbsp
      //-   td Celery, raw 
      //-   td Y   
      //-   td 
      //-     button.btn.btn-default(type="submit") Save

      tr(ng-repeat="ing in recipe.ingredients")
        td 
          input(type="text",size="1",value="1")
          select(ng-options="f for f in fractions",
                 ng-model="ing.meta.qty",
                 ng-change="saveIng()")
            option(value="") -
        td 
          select(ng-options="m.name as m.name for m in measurements",
                 ng-model="ing.meta.unit",
                 ng-change="saveIng()")
            option(value="") -- unit --
        td {{ing.item_name}}
        td.text-center 
          span.label.label-success USDA
        td.text-center {{ing.nf_serving_weight_grams}}
        td.text-center {{ing.nf_calories}}
        td.text-center 
          button.btn.btn-danger.btn-xs
            i.glyphicon.glyphicon-trash
      tr    
        td(colspan="4") 
          &nbsp;
        td.text-center 
          strong {{SUM(recipe.ingredients,'nf_calories')}}  
        td.text-center 
          strong {{SUM(recipe.ingredients,'nf_serving_weight_grams')}}   
        td
          &nbsp;
    div
      button.btn.btn-success Save
    br  
    div
      a.btn.btn-primary(href="/recipes") Back to Recipes

  script.
    var recipe = !{JSON.stringify(recipe)};
    var fractions = !{JSON.stringify(fractions)};
    var measurements = !{JSON.stringify(measurements)};